.profile {

	&__nav {
		margin-right: -15px;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					color: #000;
					width: 100%;
					height: 50px;
					font-size: 1.6rem;
					line-height: 2rem;
					padding: 5px 20px;
					text-decoration: none;
					@include flexbox();
					@include flex-direction(column);
					@include border-radius(10px 0 0 10px);

					span {
						margin: auto 0;
						display: inline-block;
					}

					&:hover {
						color: #000;
						text-decoration: none;
						background: rgba(135, 105, 255, 0.08);
					}
				}

				&.active {

					> a {
						background: rgba(135, 105, 255, 0.08);
					}
				}
			}
		}
	}

	&__content {
		background: #fff;
		padding: 20px 20px 40px 20px;
		@include box-shadow(0px 0px 30px rgba(130, 200, 239, 0.2));

		@media (min-width: $screen-sm-min) {
			padding: 20px 40px 40px 40px;
		}
	}

	&__heading {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 22px;
		padding-bottom: 10px;
		margin-bottom: 30px;
		text-transform: uppercase;
		border-bottom: 1px solid #999999;
	}

	&__group {
		margin-bottom: 30px;
	}

	&__about {
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 3.2rem;

		strong {
			font-weight: 700;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__nav {
			width: 300px;
			padding-top: 30px;
			@include flex-shrink(0);
		}

		&__content {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			width: 380px;
		}

		&__content {

			&_wrap {
				padding-right: 30px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}


.inline {

	&__left {

	}

	&__right {

	}



	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__left {
			width: 270px;
			min-height: 1px;
			text-align: right;
			@include flex-shrink(0);

			.form_label {
				padding-top: 10px;
			}

			.form_label_sm {
				padding-top: 10px;
			}

			&_lg {
				width: 300px;
			}
		}

		&__right {
			padding-left: 25px;
			@include flex-grow(1);

			.input_list {
				padding-top: 6px;
			}
		}
	}
}

.points {
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 15px;
}

.login_history {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 4px 0;
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

.form_block {
	max-width: 900px;
}

.blue_box {
	padding: 10px 20px;
	margin-bottom: 20px;
	background: rgba(0, 153, 250, 0.05)
}