.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
	@include flex-grow(1);
}

.heading {
	margin-bottom: 40px;

	&__text {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	&__subtitle {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 5px;
	}

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 0 30px 0;
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include flex-wrap(wrap);

		li {

			a {
				color: #000;
				padding: 5px 20px;
				font-size: 1.3rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
				border: 1px solid #E1E5EC;

				&:hover {
					color: #000;
					background: #ECF1F9;
					text-decoration: none;
				}
			}

			&.active {

				a {
					background: #ECF1F9;
					border-color: $color-blue;
				}
			}
		}
	}

	&__row {
		margin: -5px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__col {
		padding: 5px;
	}
}

.report_generation {
	padding: 15px 15px;
	margin-bottom: 20px;
	background: rgba(222, 243, 255, 0.5);
	@include border-radius(3px);

	&__text {
		color: #909090;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__period {
		padding: 0;
		margin: 0 -4px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);

		> li {
			padding: 4px 0;
			@include flexbox();
			@include align-items(center);

			span {
				padding: 0 8px;
				white-space: nowrap;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
			}
		}
	}

	&___button {
		padding: 4px 0;
	}

	@media (min-width: $screen-lg-min) {
		&__period {
			padding-left: 20px;
		}
	}
}

.posting {

	&__bottom {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(flex-end);
	}

	&__type {
		padding-right: 30px;
		margin-bottom: 15px;
		@include flexbox();

		&_title {
			font-size: 1.4rem;
			line-height: 2rem;
			padding-right: 10px;
			display: inline-block;
		}

		&_list {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> ul {
					margin: 0;
					padding: 0 0 0 26px;
					list-style: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__type {
			padding-right: 100px;
		}
	}


	@media (min-width: $screen-xl-min) {
		padding-left: 200px;

	}
}

.select {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__active {
		color: #000;
		cursor: pointer;
		font-weight: 900;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		padding: 5px 25px 5px 10px;
		border: 1px solid #000;

		&:before {
			top: 50%;
			right: 8px;
			content: '';
			width: 12px;
			height: 11px;
			margin-top: -6px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__carret_down.svg") 50% 5% no-repeat;
		}

		span {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&.open {
		z-index: 50;

		.select__active {
			border-bottom-color: transparent;
		}

		.select__dropdown {
			display: block;
		}
	}

	&__dropdown {
		right: 0;
		margin: 0;
		padding: 0;
		display: none;
		min-width: 100%;
		list-style: none;
		position: absolute;
		top: calc(100% - 1px);
		border: 1px solid #000;
		border-top: none;

		a {
			width: 100%;
			color: #000;
			padding: 5px 10px;
			font-weight: 900;
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #000;
				background: #f5f5f5;
				text-decoration: none;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}