.header {
	z-index: 1000;
	padding: 22px 0;
	background: #000;
	position: relative;

	&__row {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		color: #fff;
		font-size: 0;
		line-height: 0;
		text-align: center;
		text-decoration: none;
		display: inline-block;

		i {
			width: 167px;
			display: inline-block;
		}

		span {
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			display: block;
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		padding: 5px;
		position: relative;
		display: inline-block;

		span {
			width: 100%;
			height: 3px;
			background: #fff;
			margin-bottom: 6px;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}

		&.open {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 9px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__nav {
		top: 0;
		left: 0;
		z-index: 1100;
		position: fixed;
		width: 280px;
		height: 100vh;
		overflow-y: auto;
		background: #fff;
		margin-left: -300px;
		@include box-shadow(0px 5px 58px rgba(13, 96, 165, 0.15));
		@include transition(.3s);

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					width: 100%;
					color: #000;
					padding: 10px 15px;
					font-size: 1.6rem;
					line-height: 2rem;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: #83AEEA;
						text-decoration: none;
					}
				}

				&.active {

					> a {
						color: #83AEEA;
						text-decoration: none;
					}
				}
			}
		}

		&.open {
			margin-left: 0;
			@include transition(.3s);
		}
	}


	@media (min-width: $screen-lg-min) {

		&__toggle {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			overflow: visible;
			position: relative;
			background: transparent;
			@include box-shadow(none);

			> ul {
				@include flexbox();
				@include align-items(center);

				> li {

					> a {
						color: #fff;
						font-size: 1.4rem;
						padding: 5px 10px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			> ul {

				> li {
					margin-left: 10px;

					> a {
						color: #fff;
						font-size: 1.6rem;
						padding: 5px 10px;
					}
				}
			}
		}
	}
}

