.footer {
	padding: 20px 0;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	@include box-shadow(0px 5px 58px rgba(13, 96, 165, 0.25));

	@media (min-width: $screen-md-min) {
		text-align: left;
	}
}

