
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 12px 30px;
	user-select: none;
	position: relative;
	text-align: center;
	white-space: nowrap;
	background: #0099FA;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(2px);

	&:hover {
		color: #fff;
		background: #007fdc;
		text-decoration: none;
	}

	&:active {
		background: #0099FA;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_sm {
	min-width: 38px;
	font-weight: 400;
	padding: 9px 15px;
	text-transform: none;
}

.btn_border {
	color: #000;
	padding: 11px 29px;
	background: transparent;
	border: 1px solid #369A70;

	&:hover {
		color: #fff;
		background: #369A70;
	}
}

.btn_border_blue {
	color: #009DE0;
	padding: 11px 29px;
	background: transparent;
	border: 1px solid #009DE0;
	@include box-shadow(0px 4px 10px rgba(82, 183, 255, 0.25));


	.ico-svg {
		fill:  #009DE0;
	}

	&:hover {
		color: #fff;
		background: #009DE0;

		.ico-svg {
			fill:  #fff;
		}
	}
}

.btn_double {
	font-size: 1.4rem;
	line-height: 1.6rem;
	text-transform: none;
}

.btn_pdf {
	padding-right: 60px;

	i {
		top: 50%;
		right: 19px;
		width: 32px;
		height: 32px;
		margin-top: -16px;
		display: inline-block;
		position: absolute;
	}
}

.btn__rounded {
	font-weight: 400;
	@include border-radius(22px)
}

.btn_play {
	width: 36px;
	height: 35px;
	font-size: 0;
	line-height: 0;
	outline: none;
	border: none;
	opacity: 1;
	display: inline-block;
	@include transition(.3s);

	&:hover {
		opacity: 0.7;
		@include transition(.3s);
	}
}

.btn_text {
	margin: 0;
	padding: 0;
	color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;

	&:hover {
		color: $color-blue;
		text-decoration: none;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	&_right {
		@include justify-content(flex-end);
	}

	> li {
		padding: 5px 10px;
	}
}