.form_control {
	margin: 0;
	width: 100%;
	height: 42px;
	outline: none;
	color: #9E9E9E;
	background: #fff;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 9px 15px;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #C4E0F9;
	@include border-radius(3px);
	@include placeholder(#9E9E9E);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	&_blue {
		background: #EFF7FF;
	}

	&_sm {
		color: #000;
		padding: 8px 10px;
		border: 1px solid #DFE6EE;
		@include placeholder(#000);

		&:focus,
		&:active {
			@include placeholder(transparent);
		}
	}
}

textarea.form_control {
	height: auto;
}



.form_select {
	-webkit-appearance : none;
	background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;

	&::-ms-expand {
		display: none;
	}
}

.form_group {
	margin-bottom: 25px;
}

.form_radio {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	min-height: 20px;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-left: 27px;
		position: relative;
		display: inline-block;

		&:before {
			top: 2px;
			left: 0;
			z-index: 1;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			display: inline-block;
			border: 1px solid #000;
			@include border-radius(50%);
		}

		&:after {
			top: 6px;
			left: 4px;
			z-index: 1;
			opacity: 0;
			content: '';
			width: 8px;
			height: 8px;
			background: #000;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	input:checked + span {
		color: #000;

		&:before {
			border-color: #000;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	min-height: 20px;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-left: 27px;
		position: relative;
		display: inline-block;

		&:before {
			top: 4px;
			left: 0;
			z-index: 1;
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			background: #C4C4C4;
			display: inline-block;
		}

		&:after {
			top: 4px;
			left: 0;
			z-index: 3;
			opacity: 0;
			content: '';
			width: 12px;
			height: 12px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__check.svg") 50% 50% no-repeat;
		}
	}

	input:checked + span {
		color: #000;

		&:before {
			border-color: #000;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_label {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
	display: inline-block;
	text-transform: uppercase;
}

.form_label_sm {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
	display: inline-block;
}

.form_inline {
	@include flexbox();
	@include align-items(center);

	> span {
		font-size: 1.4rem;
		line-height: 2rem;
		padding-left: 10px;
		display: inline-block;
	}
}

.input_list {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form_row {
	padding: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();
	@include align-items(center);
	@include flex-wrap(wrap);

	&_reverse {
		@include justify-content(flex-end);
	}

	> li {
		padding: 5px;
	}
}