
.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);

	li {
		padding: 0 5px;

		a {
			color: #000;
			width: 40px;
			height: 30px;
			padding: 5px 5px;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			border: 1px solid #E1E8EF;
			@include border-radius(15px);

			&:hover {
				color: #000;
				background: #E1E8EF;
				text-decoration: none;
			}
		}

		span {
			color: #000;
			width: 40px;
			height: 30px;
			padding: 5px 5px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			border: 1px solid #E1E8EF;
			@include border-radius(15px);
		}

		&.active {

			a,
			span {
				color: #fff;
				background: #0D60A5;

				&:hover {
					color: #fff;
					background: #0D60A5;
				}
			}
		}

		&:first-child,
		&:last-child {

			a {
				color: #77B0F6;
			}

			&.disable {

				a,
				span {
					color: #818181;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		li {
			padding: 0 8px;

			a {
				width: 60px;
				height: 40px;
				padding: 9px 5px;
				font-size: 1.6rem;
				line-height: 2rem;
				@include border-radius(30px);
			}

			span {
				width: 60px;
				height: 40px;
				padding: 9px 5px;
				font-size: 1.6rem;
				line-height: 2rem;
				@include border-radius(20px);
			}
		}
	}
}

