.table_responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}

.table {
	width: 100%;
	border-collapse: collapse;

	&_long {
		width: 100%;
	}

	th {
		font-weight: 900;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 6px 20px;
	}

	td {
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 6px 20px;
	}

	tr {

		&:nth-child(odd) {
			background: #F9F9F9;
		}

		&:nth-child(even) {
			background: #fff;
		}
	}
}

.table_light {
	width: 100%;
	border-collapse: collapse;

	tr {

		&:first-child {
			background: #fff;
			@include border-radius(10px);
			@include box-shadow(0px 17px 39px rgba(13, 96, 165, 0.14))
		}

		&:nth-child(2) {

			td {
				padding-top: 40px;
			}
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 20px 20px;

		&:first-child {
			@include border-radius(10px 0 0 10px);
		}

		&:last-child {
			@include border-radius(0 10px 10px 0);
		}
	}

	td {
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 6px 20px;
	}
}

.table_strip {
	width: 100%;
	border-collapse: collapse;

	th {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 6px 20px;
	}

	td {
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 6px 20px;
		border-bottom: 8px solid #fff;
		border-top: 8px solid #fff;
		background: rgba(13, 96, 165, 0.04);

		&:first-child {
			@include border-radius(10px 0 0 10px);
		}

		&:last-child {
			@include border-radius(0 10px 10px 0);
		}
	}

	&_rose {

		td {
			background: rgba(231, 0, 111, 0.03);
		}
	}
}


.table_form {
	width: 100%;
	border-collapse: collapse;

	th {
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 3px 10px;
		text-transform: uppercase;
	}

	td {
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 5px 10px;
	}
}