/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1300px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1550px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1299.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1300px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1549.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1550px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 42px;
  outline: none;
  color: #9E9E9E;
  background: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 9px 15px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #C4E0F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #9E9E9E;
}
.form_control::-webkit-input-placeholder {
  color: #9E9E9E;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control_blue {
  background: #EFF7FF;
}
.form_control_sm {
  color: #000;
  padding: 8px 10px;
  border: 1px solid #DFE6EE;
}
.form_control_sm::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_control_sm:-ms-input-placeholder {
  color: #000;
}
.form_control_sm::-webkit-input-placeholder {
  color: #000;
}
.form_control_sm:focus::-moz-placeholder, .form_control_sm:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control_sm:focus:-ms-input-placeholder, .form_control_sm:active:-ms-input-placeholder {
  color: transparent;
}
.form_control_sm:focus::-webkit-input-placeholder, .form_control_sm:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
}

.form_select {
  -webkit-appearance: none;
  background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select::-ms-expand {
  display: none;
}

.form_group {
  margin-bottom: 25px;
}

.form_radio {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  min-height: 20px;
  display: inline-block;
}
.form_radio input {
  display: none;
}
.form_radio span {
  color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-left: 27px;
  position: relative;
  display: inline-block;
}
.form_radio span:before {
  top: 2px;
  left: 0;
  z-index: 1;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  display: inline-block;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio span:after {
  top: 6px;
  left: 4px;
  z-index: 1;
  opacity: 0;
  content: "";
  width: 8px;
  height: 8px;
  background: #000;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio input:checked + span {
  color: #000;
}
.form_radio input:checked + span:before {
  border-color: #000;
}
.form_radio input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  min-height: 20px;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-left: 27px;
  position: relative;
  display: inline-block;
}
.form_checkbox span:before {
  top: 4px;
  left: 0;
  z-index: 1;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: #C4C4C4;
  display: inline-block;
}
.form_checkbox span:after {
  top: 4px;
  left: 0;
  z-index: 3;
  opacity: 0;
  content: "";
  width: 12px;
  height: 12px;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__check.svg") 50% 50% no-repeat;
}
.form_checkbox input:checked + span {
  color: #000;
}
.form_checkbox input:checked + span:before {
  border-color: #000;
}
.form_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.form_label {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.form_label_sm {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: inline-block;
}

.form_inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form_inline > span {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-left: 10px;
  display: inline-block;
}

.input_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.input_list > li {
  margin-bottom: 5px;
}
.input_list > li:last-child {
  margin-bottom: 0;
}

.form_row {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form_row_reverse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.form_row > li {
  padding: 5px;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px 30px;
  user-select: none;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background: #0099FA;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.btn:hover {
  color: #fff;
  background: #007fdc;
  text-decoration: none;
}
.btn:active {
  background: #0099FA;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_sm {
  min-width: 38px;
  font-weight: 400;
  padding: 9px 15px;
  text-transform: none;
}

.btn_border {
  color: #000;
  padding: 11px 29px;
  background: transparent;
  border: 1px solid #369A70;
}
.btn_border:hover {
  color: #fff;
  background: #369A70;
}

.btn_border_blue {
  color: #009DE0;
  padding: 11px 29px;
  background: transparent;
  border: 1px solid #009DE0;
  -webkit-box-shadow: 0px 4px 10px rgba(82, 183, 255, 0.25);
  box-shadow: 0px 4px 10px rgba(82, 183, 255, 0.25);
}
.btn_border_blue .ico-svg {
  fill: #009DE0;
}
.btn_border_blue:hover {
  color: #fff;
  background: #009DE0;
}
.btn_border_blue:hover .ico-svg {
  fill: #fff;
}

.btn_double {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: none;
}

.btn_pdf {
  padding-right: 60px;
}
.btn_pdf i {
  top: 50%;
  right: 19px;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  display: inline-block;
  position: absolute;
}

.btn__rounded {
  font-weight: 400;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  border-radius: 22px;
}

.btn_play {
  width: 36px;
  height: 35px;
  font-size: 0;
  line-height: 0;
  outline: none;
  border: none;
  opacity: 1;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_play:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn_text {
  margin: 0;
  padding: 0;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.btn_text:hover {
  color: #0060AA;
  text-decoration: none;
}

.btn_group {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.btn_group_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.btn_group > li {
  padding: 5px 10px;
}

.table_responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table_long {
  width: 100%;
}
.table th {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 6px 20px;
}
.table td {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 6px 20px;
}
.table tr:nth-child(odd) {
  background: #F9F9F9;
}
.table tr:nth-child(even) {
  background: #fff;
}

.table_light {
  width: 100%;
  border-collapse: collapse;
}
.table_light tr:first-child {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
  box-shadow: 0px 17px 39px rgba(13, 96, 165, 0.14);
}
.table_light tr:nth-child(2) td {
  padding-top: 40px;
}
.table_light th {
  text-align: left;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 20px 20px;
}
.table_light th:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table_light th:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.table_light td {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 6px 20px;
}

.table_strip {
  width: 100%;
  border-collapse: collapse;
}
.table_strip th {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 6px 20px;
}
.table_strip td {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 6px 20px;
  border-bottom: 8px solid #fff;
  border-top: 8px solid #fff;
  background: rgba(13, 96, 165, 0.04);
}
.table_strip td:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.table_strip td:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.table_strip_rose td {
  background: rgba(231, 0, 111, 0.03);
}

.table_form {
  width: 100%;
  border-collapse: collapse;
}
.table_form th {
  text-align: left;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 3px 10px;
  text-transform: uppercase;
}
.table_form td {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 5px 10px;
}

.pagination {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination li {
  padding: 0 5px;
}
.pagination li a {
  color: #000;
  width: 40px;
  height: 30px;
  padding: 5px 5px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination li a:hover {
  color: #000;
  background: #E1E8EF;
  text-decoration: none;
}
.pagination li span {
  color: #000;
  width: 40px;
  height: 30px;
  padding: 5px 5px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination li.active a,
.pagination li.active span {
  color: #fff;
  background: #0D60A5;
}
.pagination li.active a:hover,
.pagination li.active span:hover {
  color: #fff;
  background: #0D60A5;
}
.pagination li:first-child a, .pagination li:last-child a {
  color: #77B0F6;
}
.pagination li:first-child.disable a,
.pagination li:first-child.disable span, .pagination li:last-child.disable a,
.pagination li:last-child.disable span {
  color: #818181;
}
@media (min-width: 1024px) {
  .pagination li {
    padding: 0 8px;
  }
  .pagination li a {
    width: 60px;
    height: 40px;
    padding: 9px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
  }
  .pagination li span {
    width: 60px;
    height: 40px;
    padding: 9px 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_left {
  text-align: left !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.text_heavy {
  font-weight: 900 !important;
}

.color_red {
  color: #DA000D !important;
}

.color_green {
  color: #00C06F !important;
}

.color_blue {
  color: #0060AA !important;
}

.color_gray {
  color: #B7B7B7 !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.mw_50 {
  width: 50px !important;
}

.mw_70 {
  width: 70px !important;
}

.mw_100 {
  max-width: 100px !important;
}

.mw_150 {
  max-width: 150px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}
@media (min-width: 1550px) {
  .container {
    width: 1520px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  font-weight: 900;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
}
h1 a, .h1 a {
  text-decoration: none;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 1024px) {
  h1, .h1 {
    font-size: 3.6rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Roboto", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Roboto", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #0060AA;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0060AA;
  text-decoration: none;
}

.header {
  z-index: 1000;
  padding: 22px 0;
  background: #000;
  position: relative;
}
.header__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  color: #fff;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.header__logo i {
  width: 167px;
  display: inline-block;
}
.header__logo span {
  font-size: 1.2rem;
  line-height: 1.6rem;
  white-space: nowrap;
  display: block;
}
.header__logo:hover {
  color: #fff;
  text-decoration: none;
}
.header__toggle {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  padding: 5px;
  position: relative;
  display: inline-block;
}
.header__toggle span {
  width: 100%;
  height: 3px;
  background: #fff;
  margin-bottom: 6px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle span:nth-child(3) {
  margin-bottom: 0;
}
.header__toggle.open span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__toggle.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__toggle.open span:nth-child(3) {
  display: none;
}
.header__nav {
  top: 0;
  left: 0;
  z-index: 1100;
  position: fixed;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  margin-left: -300px;
  -webkit-box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
  box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav > ul > li > a {
  width: 100%;
  color: #000;
  padding: 10px 15px;
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.header__nav > ul > li > a:hover {
  color: #83AEEA;
  text-decoration: none;
}
.header__nav > ul > li.active > a {
  color: #83AEEA;
  text-decoration: none;
}
.header__nav.open {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1300px) {
  .header__toggle {
    display: none;
  }
  .header__nav {
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__nav > ul > li > a {
    color: #fff;
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}
@media (min-width: 1550px) {
  .header__nav > ul > li {
    margin-left: 10px;
  }
  .header__nav > ul > li > a {
    color: #fff;
    font-size: 1.6rem;
    padding: 5px 10px;
  }
}

.footer {
  padding: 20px 0;
  background: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  -webkit-box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.25);
  box-shadow: 0px 5px 58px rgba(13, 96, 165, 0.25);
}
@media (min-width: 1024px) {
  .footer {
    text-align: left;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.heading {
  margin-bottom: 40px;
}
.heading__text {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.heading__subtitle {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.heading__nav {
  padding: 0;
  list-style: none;
  margin: 0 0 30px 0;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.heading__nav li a {
  color: #000;
  padding: 5px 20px;
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #E1E5EC;
}
.heading__nav li a:hover {
  color: #000;
  background: #ECF1F9;
  text-decoration: none;
}
.heading__nav li.active a {
  background: #ECF1F9;
  border-color: #0060AA;
}
.heading__row {
  margin: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.heading__col {
  padding: 5px;
}

.report_generation {
  padding: 15px 15px;
  margin-bottom: 20px;
  background: rgba(222, 243, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.report_generation__text {
  color: #909090;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.report_generation__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.report_generation__period {
  padding: 0;
  margin: 0 -4px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.report_generation__period > li {
  padding: 4px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.report_generation__period > li span {
  padding: 0 8px;
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
}
.report_generation___button {
  padding: 4px 0;
}
@media (min-width: 1300px) {
  .report_generation__period {
    padding-left: 20px;
  }
}

.posting__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.posting__type {
  padding-right: 30px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.posting__type_title {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-right: 10px;
  display: inline-block;
}
.posting__type_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posting__type_list > li > ul {
  margin: 0;
  padding: 0 0 0 26px;
  list-style: none;
}
@media (min-width: 768px) {
  .posting__type {
    padding-right: 100px;
  }
}
@media (min-width: 1550px) {
  .posting {
    padding-left: 200px;
  }
}

.select {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.select__active {
  color: #000;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  padding: 5px 25px 5px 10px;
  border: 1px solid #000;
}
.select__active:before {
  top: 50%;
  right: 8px;
  content: "";
  width: 12px;
  height: 11px;
  margin-top: -6px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__carret_down.svg") 50% 5% no-repeat;
}
.select__active span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select.open {
  z-index: 50;
}
.select.open .select__active {
  border-bottom-color: transparent;
}
.select.open .select__dropdown {
  display: block;
}
.select__dropdown {
  right: 0;
  margin: 0;
  padding: 0;
  display: none;
  min-width: 100%;
  list-style: none;
  position: absolute;
  top: calc(100% - 1px);
  border: 1px solid #000;
  border-top: none;
}
.select__dropdown a {
  width: 100%;
  color: #000;
  padding: 5px 10px;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.select__dropdown a:hover {
  color: #000;
  background: #f5f5f5;
  text-decoration: none;
}

.profile__nav {
  margin-right: -15px;
}
.profile__nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile__nav > ul > li > a {
  color: #000;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 5px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.profile__nav > ul > li > a span {
  margin: auto 0;
  display: inline-block;
}
.profile__nav > ul > li > a:hover {
  color: #000;
  text-decoration: none;
  background: rgba(135, 105, 255, 0.08);
}
.profile__nav > ul > li.active > a {
  background: rgba(135, 105, 255, 0.08);
}
.profile__content {
  background: #fff;
  padding: 20px 20px 40px 20px;
  -webkit-box-shadow: 0px 0px 30px rgba(130, 200, 239, 0.2);
  box-shadow: 0px 0px 30px rgba(130, 200, 239, 0.2);
}
@media (min-width: 768px) {
  .profile__content {
    padding: 20px 40px 40px 40px;
  }
}
.profile__heading {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #999999;
}
.profile__group {
  margin-bottom: 30px;
}
.profile__about {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.profile__about strong {
  font-weight: 700;
}
@media (min-width: 1024px) {
  .profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__nav {
    width: 300px;
    padding-top: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .profile__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1300px) {
  .profile__nav {
    width: 380px;
  }
  .profile__content_wrap {
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .inline__left {
    width: 270px;
    min-height: 1px;
    text-align: right;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .inline__left .form_label {
    padding-top: 10px;
  }
  .inline__left .form_label_sm {
    padding-top: 10px;
  }
  .inline__left_lg {
    width: 300px;
  }
  .inline__right {
    padding-left: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .inline__right .input_list {
    padding-top: 6px;
  }
}

.points {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 15px;
}

.login_history {
  margin: 0;
  padding: 0;
  list-style: none;
}
.login_history li {
  padding: 4px 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

.form_block {
  max-width: 900px;
}

.blue_box {
  padding: 10px 20px;
  margin-bottom: 20px;
  background: rgba(0, 153, 250, 0.05);
}

/*# sourceMappingURL=main.css.map */
